
<!-- Footer -->

<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>OMORI Wiki is a FANDOM Games Community</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
 
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      <a class="text-reset fw-bold" href="">Newsletter</a>
      <a class="text-reset fw-bold" href="">Join Fan Lab</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->