<div class="main-container" >
    <div class="resizable-container" >
  
    
      <div class="page-has-right-rail">
        
        <div class="main-page">
  
          <!--HERO CONTAINER-->
    
          <div class="container">

            <!--HERO DIALOGO-->
            <div class="container-flex" style="border:1px solid #000000;" >
            <div style="border: 3px solid #ffffff;font-family: 'Coming Soon', cursive" class="text-game"> 
              <P >Alright everyone... It's time to go on an adventure!</P> 
            </div>
            </div>

            <!--HERO TEXTO-->
            <div class="summary" >
              <p  style="margin-right: 30px; background-color: aquamarine;">HERO is one of the three deuteragonists in OMORI who join OMORI's party. When tagged as the leader, HERO can use his charm to convince others to assist the party.</p>
            </div>
           <!--HERO boxinfo-->  
            <div class="boxinfo" >
              <table style="font-family: 'Coming Soon', cursive; text-transform: uppercase !important; background: white; border: 3px solid #ffffff; border-radius: 0px; margin-bottom: 8px; padding: 0px 8px;border: 3px solid #000000;" >
                
                <tr>
                  <th></th>
                  <th><img class="iconhero" src="../../../assets/img/HERO/DW_Hero_Neutral.gif" alt=""></th>
                </tr>
                <tr>
                  <th style="padding-top:5px; padding-left:5px;border: 3px solid #ffffff; color:#ffffff; font-weight:bold; background: #000000">Sprites</th>
                  <th><img src="../../../assets/img/HERO/Dream_Hero_Walk.gif"><img src="../../../assets/img/HERO/RealHeroWalk.gif" alt=""></th>
                </tr>
                <tr>
                  <th style="padding-top:5px; padding-left:5px;border: 3px solid #ffffff;color:#ffffff; font-weight:bold; background: #000000">Gender</th>
                  <th>Male</th>
                </tr>
                <tr>
                  <th style="padding-top:5px; padding-left:5px;border: 3px solid #ffffff;color:#ffffff; font-weight:bold; background: #000000">Age</th>
                  <th></th>
                </tr>
                <tr>
                  <th style="padding-top:5px; padding-left:5px;border: 3px solid #ffffff;color:#ffffff; font-weight:bold; background: #000000">Birthday</th>
                  <th>January 1st</th>
                </tr>
                <tr>
                  <th style="padding-top:5px; padding-left:5px;border: 3px solid #ffffff;color:#ffffff; font-weight:bold; background: #000000">Lead skill</th>
                  <th>Charm, Animal assist</th>
                </tr>
                <tr>
                  <th style="padding-top:5px; padding-left:5px;border: 3px solid #ffffff;color:#ffffff; font-weight:bold; background: #000000">Location</th>
                  <th></th>
                </tr>
                <tr>
                  <th style="padding-top:5px; padding-left:5px;border: 3px solid #ffffff;color:#ffffff; font-weight:bold; background: #000000">Relatives</th>
                  <th>
                    <p> Unnamed mother</p>
                    <p> Unnamed father</p>
                    <p> KEL younger brother</p>
                    <p> SALLY younger sister</p>
                  </th>
                </tr>
                <tr>
                  <th style="border: 3px solid #ffffff;color:#ffffff; font-weight:bold; background: #000000">Relations</th>
                  <th>
                    <p>SUNNY friend</p>
                    <p>AUBREY friend</p>
                    <p>BASIL friend</p>
                    <P>MARI love interest</P>
                  </th>
                </tr>
    
              </table>
            </div>
          </div>
    
          
    
        
  
        </div>
  
        <div class="right-rail-page">
          <p>last people conected</p>
        </div>
  
  
      </div>
  </div>